In [6]:
from pyspark.sql import SparkSession

In [7]:
spark = SparkSession.builder.appName("Aggregation").getOrCreate()
spark

In [8]:
## Read CSV file
df = spark.read.csv('data/aggregateFunctions.csv', header=True, inferSchema=True)
df.show()

+---------------+-----------+------+
|           name| department|salary|
+---------------+-----------+------+
|       John Doe|Engineering| 80000|
|      Mia Clark|  Marketing| 65000|
| Robert Johnson|    Finance| 75000|
|    Emily Davis|         HR| 70000|
|  Michael Brown|Engineering| 85000|
| Samantha White|  Marketing| 70000|
|Christopher Lee|    Finance| 72000|
|      Mia Clark|         HR| 68000|
| Samantha White|Engineering| 90000|
|  Sophia Wilson|  Marketing| 72000|
|    David Moore|    Finance| 78000|
|    Emily Davis|         HR| 71000|
| Samantha White|Engineering| 82000|
|      Mia Clark|  Marketing| 69000|
|    Emily Davis|    Finance| 77000|
+---------------+-----------+------+

In [9]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: integer (nullable = true)

In [10]:
# GroupBy
# This one is return the sum of values that the same name and grouped together and displayed
df.groupBy("name").sum().show()

+---------------+-----------+
|           name|sum(salary)|
+---------------+-----------+
|    Emily Davis|     218000|
| Robert Johnson|      75000|
|      Mia Clark|     202000|
|  Sophia Wilson|      72000|
|  Michael Brown|      85000|
|       John Doe|      80000|
|    David Moore|      78000|
| Samantha White|     242000|
|Christopher Lee|      72000|
+---------------+-----------+

In [11]:
# Group by department and Find the maximum salary
df.groupBy("department").max().show()

+-----------+-----------+
| department|max(salary)|
+-----------+-----------+
|Engineering|      90000|
|         HR|      71000|
|    Finance|      78000|
|  Marketing|      72000|
+-----------+-----------+

# Know who is getting the maximum salary in the departement

In [19]:
df.groupBy(["Name", "department"]).max().show()

+---------------+-----------+-----------+
|           Name| department|max(salary)|
+---------------+-----------+-----------+
| Samantha White|  Marketing|      70000|
|  Michael Brown|Engineering|      85000|
| Robert Johnson|    Finance|      75000|
|    Emily Davis|    Finance|      77000|
|    Emily Davis|         HR|      71000|
|       John Doe|Engineering|      80000|
|    David Moore|    Finance|      78000|
|  Sophia Wilson|  Marketing|      72000|
| Samantha White|Engineering|      90000|
|      Mia Clark|         HR|      68000|
|Christopher Lee|    Finance|      72000|
|      Mia Clark|  Marketing|      69000|
+---------------+-----------+-----------+

In [12]:
# Calculate the number of people in specific departement
df.groupBy("Department").count().show()

+-----------+-----+
| Department|count|
+-----------+-----+
|Engineering|    4|
|         HR|    3|
|    Finance|    4|
|  Marketing|    4|
+-----------+-----+

# Retrieve Duplicates

In [13]:
df.groupBy("name").count().show()

+---------------+-----+
|           name|count|
+---------------+-----+
|    Emily Davis|    3|
| Robert Johnson|    1|
|      Mia Clark|    3|
|  Sophia Wilson|    1|
|  Michael Brown|    1|
|       John Doe|    1|
|    David Moore|    1|
| Samantha White|    3|
|Christopher Lee|    1|
+---------------+-----+

In [14]:
from pyspark.sql.functions import col
dupl_df = df.groupBy("name").count()
final_duplication = dupl_df.filter(col("count") > 1)
final_duplication.show()

+--------------+-----+
|          name|count|
+--------------+-----+
|   Emily Davis|    3|
|     Mia Clark|    3|
|Samantha White|    3|
+--------------+-----+

# Retrun the Sum of specific Column (Aggregation)

In [15]:
agg_sum = df.agg({"Salary": "sum"})
agg_sum.show()

+-----------+
|sum(Salary)|
+-----------+
|    1124000|
+-----------+